/**
 * Base (generic/_base.scss)
 */

/* ----- General ----- */
html {
	font-size: 14px;
	@include box-sizing(border-box);
	-webkit-tap-highlight-color: transparent;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;

	@media (min-width: $screen-sm-min) {
		font-size: 16px;
	}
}

body {
	color: $color-dark;
	font-family: $font-family-primary;
	font-size: $font-size-base;
	line-height: $line-height-base;
}

/* ----- Everything ----- */
* {
	&,
	&::before,
	&::after {
		@include box-sizing(inherit);
	}
}

/* ----- Headings ----- */
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	font-family: $font-family-secondary;
	font-weight: 400;
	line-height: $line-height-headings;
	margin: 2.5rem 0 .9375rem 0;

	&[id] {
		position: relative;
	}

	& + & {
		margin-top: 0;
	}
}

h1, .h1 {
	font-size: $font-size-h1;
	font-weight: 700;
	line-height: 48px
}

h2, .h2 {
	font-size: 24px;
	font-weight: 700;
	padding-bottom: .5rem;
	@media (min-width: $screen-sm-min){
		font-size: 32px;
	}
	@media (min-width: $screen-lg-min){
		font-size: $font-size-h2;
	}
}

h3, .h3 {
	font-size: $font-size-h3;
	font-weight: 700;
	line-height: 40px;
}

h4, .h4 {
	font-size: 16px;
	font-weight: 700;
	line-height: 32px;
	@media (min-width: $screen-sm-min){
		font-size: $font-size-h4;
	}
	@media (min-width: $screen-lg-min){
		font-size: $font-size-h4;
	}
}

h5, .h5 {
	font-size: $font-size-h5;
}

h6, .h6 {
	font-size: $font-size-h6;
}

/* ----- Inline elements ----- */
small,
.text-small {
	font-size: $font-size-small;
}

/* ----- Paragraphs ----- */
p {
	margin: 0 0 1.25rem 0;
	font-size: 14px;
	line-height: 24px;
	@media (min-width: $screen-sm-min){
		font-size: 16px;
	}
	@media (min-width: $screen-lg-min){
		font-size: 18px;
		line-height: 32px;
	}
	&.is-big{
		img{
			max-width: 100%;
		}
	}
}

/* ----- Hyperlinks ----- */
a {
	color: #4294FF;
	text-decoration: none;
	transition: color .2s;
	&:focus,
	&:hover{
		color: #2477E2;
	}

	&:active{
		color: #0C61D0;
	}
}

.image-info{
	font-size: 12px;
	color: #727272;
	line-height: 16px;
	margin-top: -12px;
}

/* ----- Images ----- */
img {
	max-width: 60%;
	height: auto;
	vertical-align: top;
}

/* ----- Horizontal rules ----- */
hr {
	border: 0;
	border-top: 1px solid $color-horizontal-rule;
	margin: 0 0 1.25rem 0;
}

/* ----- States ----- */
::-moz-selection {
	background: rgba($color-yellow, .99);
	color: $color-dark;
}

::selection {
	background: rgba($color-yellow, .99);
	color: $color-dark;
}

/* ----- Quotes ----- */
blockquote {
	margin: 0 0 1.25rem 0;
}

q {
	color: $color-dark;
}

/* ----- Lists ----- */
ul {
	list-style-type: none;
	padding: 0;
	margin: 0 0 1.25rem 0;

	li {
		position: relative;
		padding-left: 23px;
		margin-bottom: .3125rem;
		font-size: 14px;
		line-height: 24px;
		@media (min-width: $screen-sm-min){
			font-size: 16px;
		}
		@media (min-width: $screen-lg-min){
			font-size: 18px;
			line-height: 32px;
		}

		&:before {
			content: '\2022';
			color: $color-list-prefix;
			position: absolute;
			left: 10px;
		}
	}
}

/* ----- Definition lists ----- */
dl {
	margin: 0 0 1.25rem 0;

	dt {
		color: $color-definition-list;
		font-weight: 700;
	}

	dd {
		margin: 0;
	}
}

/* ----- Acronym and Emphasize tags ----- */
acronym,
em {
	font-style: italic;
}

/* ----- Tables ----- */
table {
	width: 100%;
	text-align: left;
	font-size: 14px;
	border-collapse: collapse;
	margin: 0 0 1.25rem 0;
	@media (min-width: $screen-sm-min){
		font-size: 16px;
	}
	@media (min-width: $screen-lg-min){
		font-size: 18px;
	}

	th, td {
		border-bottom: 1px solid $color-table-border;
		vertical-align: middle;
		padding: 6px;

		@media (min-width: $screen-sm-min) {
			padding: 16px 12px;
		}

		@media (min-width: $screen-lg-min){
			padding: 22px 1.25rem;
		}
	}

	td {
		img {
			max-width: 100%;
			width: 32px;
		}
	}

	th {
		font-weight: 300;
		border-bottom: 1px solid $color-table-border;
		font-family: $font-family-primary;
		color: #727272;
		line-height: 24px;
		font-size: 12px;
	}
}

.table-responsive {
	width: 100%;
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
	margin: 0 0 1.25rem 0;

	@media (min-width: $screen-sm-min) {
		overflow-x: visible;
	}

	table {
		min-width: 43.75rem;
		margin: 0;

		@media (min-width: $screen-sm-min) {
			min-width: 0;
			margin: 0;
		}
	}
}

/* ----- Iframe ----- */
iframe {
	display: block;
	border: 0;
	margin: 0 0 1.25rem 0;
	width: 100%;
	height: 200px;
	@media (min-width: $screen-sm-min){
		height: 416px;
	}
}

/* ----- Button ----- */
button {
	border: 0;
	padding: 0;
	background-color: transparent;

	&:focus {
		outline: none;
	}
}
