/**
 * Base (generic/_base.scss)
 */

/* ----- General ----- */
html {
	@include box-sizing(border-box);
	@include font-size-base;
	-webkit-tap-highlight-color: transparent;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
}

body {
	color: $color-black;
	font-family: $font-family-primary;
}

/* ----- Everything ----- */
* {
	&,
	&::before,
	&::after {
		@include box-sizing(inherit);
	}
}

/* ----- Headings ----- */
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	margin: 2.5rem 0 .9375rem 0;
	&[id] {
		position: relative;
	}

	& + & {
		margin-top: 0;
	}
}

h1, .h1 {
	font-weight: 900;
	letter-spacing: -0.03em;
	@media (min-width: $screen-sm-min) {
		letter-spacing: -0.05em;
	}
	@include font-size-h1; 
}

h2, .h2 {
	font-weight: 800;
	letter-spacing: -0.03em;
	@include font-size-h2;
}

h3, .h3 {
	font-weight: 800;
	letter-spacing: -0.01em;
	@include font-size-h3;
}

h4, .h4 {
	font-weight: 800;
	@include font-size-h4;
}

h5, .h5 {
	font-weight: 600;
	@include font-size-h5;
}

/* ----- Paragraphs ----- */
p {
	@include font-size-base;
	&.subtitle {
		font-weight: 500;
		font-size: 18px;
		line-height: 167%;
		@media (min-width: $screen-sm-min) {
			font-size: 21px;
			line-height: 162%;
		}
	}
	&.big {
		font-size: 26px;
		line-height: 154%;
		font-weight: 600;
		@media (min-width: $screen-sm-min) {
			font-size: 32px;
		}
	}
	&.is-big {
		img {
			max-width: 100%;
		}
	}
}

/* ----- Hyperlinks ----- */

a {
	color: $color-blue;
	text-decoration: none;
	transition: .2s;
	&:focus,
	&:hover{
		color: rgba(#58bbee, 0.8);
	}
	&:active{
		color: darker($color-blue, 6.25%);
	}
}

a.not-visibly {
	color: $color-black;
	&:hover {
		opacity: 0.8;
	}
}

.image-info{
	font-size: 12px;
	color: #727272;
	line-height: 16px;
	margin-top: -12px;
}

/* ----- Images ----- */
img {
	vertical-align: middle;
}
video {
	max-width: 100%;
}

/* ----- Horizontal rules ----- */
hr {
	border: 0;
	border-top: 1px solid $color-horizontal-rule;
	margin: 0 0 1.25rem 0;
}

/* ----- States ----- */
::-moz-selection {
	background: rgba($color-yellow, .99);
	color: $color-black;
}

::selection {
	background: rgba($color-yellow, .99);
	color: $color-black;
}

/* ----- Quotes ----- */
blockquote {
	margin: 0 0 1.25rem 0;
}

q {
	color: $color-black;
}

/* ----- Lists ----- */
ul {
	list-style-type: none;
	padding: 0;
	margin: 0 0 1.25rem 0;
	li {
		position: relative;
		padding-left: 23px;
		margin-bottom: .3125rem;
		font-size: 15px;
		line-height: 24px;
		@media (min-width: $screen-sm-min){
			font-size: 17px;
		}
		@media (min-width: $screen-lg-min){
			font-size: 17px;
			line-height: 32px;
		}

		&:before {
			content: '\2022';
			color: $color-list-prefix;
			position: absolute;
			left: 10px;
		}
	}
}

ul.normalize {
	margin-bottom: 0;
	li {
		&:before {
			content: '';
			display: none;
		}
		list-style: none;
		margin-bottom: 0;
		padding: 0;
	}
}

/* ----- Definition lists ----- */
dl {
	margin: 0 0 1.25rem 0;

	dt {
		color: $color-definition-list;
		font-weight: 700;
	}

	dd {
		margin: 0;
	}
}

/* ----- Acronym and Emphasize tags ----- */
acronym,
em {
	font-style: italic;
}

/* ----- Tables ----- */
table {
	width: 100%;
	text-align: left;
	font-size: 14px;
	border-collapse: collapse;
	margin: 0 0 1.25rem 0;
	@media (min-width: $screen-sm-min){
		font-size: 16px;
	}
	@media (min-width: $screen-lg-min){
		font-size: 18px;
	}

	th, td {
		border-bottom: 1px solid $color-table-border;
		vertical-align: middle;
		padding: 6px;

		@media (min-width: $screen-sm-min) {
			padding: 16px 12px;
		}

		@media (min-width: $screen-lg-min){
			padding: 22px 1.25rem;
		}
	}

	td {
		img {
			max-width: 100%;
			/*width: 32px;*/
		}
	}

	th {
		font-weight: 300;
		border-bottom: 1px solid $color-table-border;
		font-family: $font-family-primary;
		color: #727272;
		line-height: 24px;
		font-size: 12px;
	}
}

.table-responsive {
	width: 100%;
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
	margin: 0 0 1.25rem 0;

	@media (min-width: $screen-sm-min) {
		overflow-x: visible;
	}

	table {
		min-width: 43.75rem;
		margin: 0;

		@media (min-width: $screen-sm-min) {
			min-width: 0;
			margin: 0;
		}
	}
}

/* ----- Iframe ----- */
iframe {
	display: block;
	border: 0;
	margin: 0 0 1.25rem 0;
	width: 100%;
	height: 200px;
	@media (min-width: $screen-sm-min){
		height: 416px;
	}
}

/* ----- Button ----- */
button {
	border: 0;
	padding: 0;
	background-color: transparent;
	&:focus {
		outline: none;
	}
}

/* ----- No blue color for links in headings----- */
h2 a {
	color:black;
}

h3 a {
	color:black;
}

h4 a {
	color:black;
}
h5 a {
	color:black;
}