/**
 * Buttons (objects/_buttons.scss)
 */

/* ----- General ----- */
.btn {
	@include link-reset;
	font-family: $font-family-primary;
	font-weight: 500;
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 24px;
	text-transform: uppercase;
	display: inline-block;
	margin: 0 0 1.25rem 0;
}

/* ----- Variations ----- */
.btn--full-width {
	display: block;
	width: 100%;
}

.btn--rounded {
	border-radius: 3px;
}

.btn--dark {
	color: $color-black;
	border: 1px solid #24282A;
	padding: .5625rem 1.5625rem;
	transition: color .2s, background-color .2s;

	@media (min-width: $screen-sm-min) {
		padding: .8125rem 2.1875rem;
	}

	&:hover,
	&:focus{
		color: $color-white;
		background-color: #24282A;
	}

	&:active{
		background-color: #3E4446;
	}
}

.btn--github{
	height: 54px;
}

#sections-button{
	border: none;
	padding: 0px;
	height: 0px;
	margin-top: 40px;
	transition: color .2s;

	&:hover,
	&:focus{
		color: #676C6F;
	}

	&:active{
		color: #928F8F;
	}
}

.btn--download {
	color: $color-white;
	border: 1px solid $color-white;
	width: 116px;
	height: 32px;
	float: right;
	text-align: center;
	margin-top: 16px;
	padding-top: 3px;
	text-transform: none;
	transition: color .2s, background-color .2s, border-color .2s;

	&:hover,
	&:focus{
		color: #24282A;
		background-color: $color-white;
	}

	&:active{
		background-color: #CACACA;
		border-color: #CACACA;
	}
}

.btn--w-icon {
	span{
		float: right;
		font-size: 1.375rem;
		margin-left: .75rem;
		position: relative;
		bottom: -.125rem;
	}
}

.btn--w-icon-arrow{
	font-size: 14px;
	bottom: -0.255rem;
}

.btn--right{
	margin-left: -6px;
	border-left: none;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

.btn--left{
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

.btn--w-icon-left {
	span{
		float: left;
		margin-left: 0;
		margin-right: .75rem;
	}
}

.btn--read-more {
	text-transform: uppercase;

	.icon {
		display: inline-block;
		margin-left: .625rem;
		transition: transform .2s;
	}

	&:hover,
	&:focus,
	&:active {
		.icon {
			@include translate(.3125rem, 0);
		}
	}
}
