/**
 * Content (objects/_content.scss)
 */

/* ----- Headings ----- */
.content {
	> :first-child {
		margin-top: 0;
	}
	&__desc {
		margin-bottom: 60px;
		@media (min-width: $screen-md-min) {
			margin-bottom: 80px;
		}
	}
	video, img, embed {
		// border: 1px solid rgba(0,0,0,0.1);
		max-width: 100%;
	}
}

#content-wrapper {
	width: 320px;
	padding: 0;
	@media (min-width: $screen-sm-min){
		width: 720px;
	}
	@media (min-width: $screen-lg-min){
		width: 1224px;
	}

}