/**
 * Section (objects/_section.scss)
 */

/* ----- General ----- */
.section {
	margin-top: 20px;
	margin-bottom: 100px;
	@media (min-width: $screen-xs-min) {
		margin-top: 40px;
	}
	@media (min-width: $screen-md-min) {
		margin-top: 84px;
	}
	.col-lg-9 {
		@media (max-width: $screen-md-max) {
			margin-top: 60px;
		}
	}
}

/* ----- Variations ----- */

.main-homepage-section {
	&__title{
		margin: 0;
	}
	&__desc {
		margin:20px 0;
		@media (min-width: $screen-sm-min) {
			margin: 30px 0;
		}
	}
}

.section--grid-navigation {
	margin-top: 40px;
	@media (min-width: $screen-sm-min) {
		margin-top: 60px;
	}
	@media (min-width: $screen-md-min) {
		margin-top: 80px;
	}
}