/**
 * Page nav (components/_page-nav.scss)
 */

/* ----- General ----- */
.page-nav {
	display: flex;
	justify-content: center;
	color: #24282A;
	background-color: #FFD36F;
	width: 100%;
	height: 88px;
}

.page-nav-content{
	display: flex;
	width: 100%;
	height: 88px;
	justify-content: space-between;
}

.page-nav-content-left{
	justify-content: flex-start;
}

.page-nav-content-right{
	justify-content: flex-end;
}

/* ----- Item ----- */
.page-nav__item {
	@include link-reset;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 33.3%;
	height: 100%;
	align-self: center;
	font-family: $font-family-secondary;
	font-weight: 800;
	font-size: 24px;
	line-height: 40px;
	transition: all .2s;
	span{
		transition: transform .2s;
		display: inline-block;
	}

	&:focus,
	&:hover{
		background-color: #FACC63;
		a{
			color: #24282A;
			span{
				@include translate(-10px, 0)
			}
		}
	}

	&:active{
		background-color: #FBC751;
	}
}

.page-nav__item__right {
	a{
		flex: 0;
	}
	justify-content: flex-start;

	&:focus,
	&:hover{
		background-color: #FACC63;
		a{
			color: #24282A;
			span{
				@include translate(10px, 0)
			}
		}
	}

	&:active{
		background-color: #FBC751;
	}
}

