.search {
    &__container {
      display: flex;
      @media (min-width: $screen-lg-min) {
        margin-right: 16px;
        margin-bottom: 16px;
      }
    }
    &__button {
      padding: 12px;
      font-size: 14px;
      border-radius: 4px;
      border: 1px solid rgba(0,0,0,.3);
      background: none;
      flex: 1;
      opacity: .3;
      text-align: left;
      cursor: pointer;
    }
}

.jquery-modal {
  &.blocker {
    z-index: 200;
    background: rgba(0,0,0,.35);
  } 
  .modal {
    max-width: 50vw;
    width: 100%;
    box-shadow: 0 20px 60px -2px rgba(27, 33, 58, 0.4);
    border-radius: 8px;
    background: #fff;
    padding: 0;
    @media screen and (max-width: 820px) {
      max-width: 90vw;
    }
  }
}

.search-modal {
  display: none;
  .divider {
    margin-top: 4px;
    margin-bottom: 0;
  }
}  

.search-results {
  // display: none;
  font-size: 14px;
  &__list {
    margin: 0;
    p {
      font-size: 14px;
      margin: 0;
    }
    li {
      margin: 0;
      padding: 0;
      &::before {
        content: none;
      }
    }
  }
  .no-result{
    color: gray;
    padding: 0 32px;
  }
}

.search-input {
  border: none;
  width: 100%;
  font-size: 14px;
  line-height: 28px;
  font-weight: 500;
  padding: 16px 24px 16px 42px;
  background: url(/doks-theme/assets/images/layout/search.svg) no-repeat left 16px center / 16px;
  &:focus-visible {
    outline: none;
  }
}

.search-result {
  font-size: 14px;

  a {
    text-decoration: none;
    color: black;
    display: block;
    padding-top: 0.1px;
    padding-bottom: 0.1px;
  }

  .divider {
    margin: 0;
  }

  h3 {
    font-size: 17px;
    font-weight: 600;
    margin: 0 0 8px 0;

    .api-type-addon {
      color: rgba(0, 0, 0, 0.3);
    }
  }

  .search-result-content {
    padding: 16px 32px;
  }

  &:hover {
    background: rgba(0, 0, 0, 0.03);
  }

  mark {
    background-color: #17a0e354;
  }

  .post-breadcrumb {
    color: #424242;
    font-weight: 600;
  }
}

#powered-by {
  display: flex;
  justify-content: flex-end;
  padding: 4px 8px;
  border-top: 1px solid #dadada;

  .ais-PoweredBy-logo {
    height: 1rem;
  }
}

#search-input-clear {
  margin-right: 8px;
  cursor: pointer;
  img {
    height: 20px;
    width: 20px;
  }
}

.loader-container:not([hidden]) {
  display: flex;
  justify-content: center;
  padding: 0 8px 0 0;
  .loader {
    height: 20px;
    border-width: 2px;
    width: 20px;
  }
}

.search-bar {
  display: flex;
  align-items: center;
}
