.app-footer {
    $responsive-mobile: 425px;
    $responsive-tablet: 768px;
    $color-footer-background:#2E2D45;

    .main-footer{
      padding-top: 48px;
      padding-bottom: 24px;
      text-align: left;
      background-color: $color-footer-background;
	}
	
	a{
		border-bottom: none;
	}

	h2{
		border-bottom: none;
		padding-bottom: 0;
	}

	ul{
		li{
			padding-left: 0;
			margin-bottom: 0;
			&:before{
				content: none;
			}
		}
	}

  .footer-wrapper-top {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

    @media (max-width: $responsive-tablet) {
      flex-wrap: wrap;

      &::after {
        content: "";
        position: absolute;
        top: 85px;
        right: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: rgba(225,225,225, 0.1);
      }
    }

    @media (max-width: $responsive-mobile) {
      &::after {
        content: "";
        position: absolute;
        top: inherit;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: rgba(225,225,225, 0.1);
      }
    }
  }

  .footer-column-6 {
    flex-basis: calc(100% * 6 / 12);

    @media (max-width: $responsive-tablet) {
      &:first-child {
        order: 0;
        display: flex;
        align-items: center;
        padding-bottom: 40px;
        margin-bottom: 40px;
      }

      &:nth-child(2) {
        order: 2;
      }

      &:nth-child(3) {
        order: 3;
      }

      &:nth-child(4) {
        order: 4;
      }

      &:nth-child(5) {
        order: 5;
      }

      &:nth-child(6) {
        order: 1;
        flex-basis: 72%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-bottom: 40px;
        margin-bottom: 40px;
      }
    }

    @media (max-width: $responsive-mobile) {
      flex-basis: calc(100%/2);
      margin-bottom: 16px;

      &:first-child {
        order: 0;
        flex-basis: 100%;
        padding-bottom: 0;
        margin-bottom: 24px;
      }

      &:nth-child(2) {
        order: 1;
      }

      &:nth-child(3) {
        order: 2;
      }

      &:nth-child(4) {
        order: 3;
      }

      &:nth-child(5) {
        order: 4;
      }

      &:nth-child(6) {
        order: 5;
        flex-direction: column;
        flex-basis: 100%;
        padding-bottom: 0;
        margin-bottom: 0;
      }
    }
  }

  .footer-column-6:nth-child(6) {
    @media (max-width: $responsive-tablet) {
      display: block;
      padding-bottom: 0;
      margin-bottom: 0;
      // display: none;
    }
  }

  .footer-column-3 {
    flex-basis: calc(100% * 3 / 12);

    @media (max-width: $responsive-tablet) {
      &:first-child {
        flex-basis: 30%;
      }
      &:nth-child(2) {
        flex-basis: 50%;
        display: flex;
      }
      &:nth-child(3) {
        flex-basis: 30%;
      }
    }
  }

  .footer-container {
    display: flex;
  }


  .footer-about-list--support {
    margin-bottom: 16px;
  }

  .footer__title {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 700;
    text-align: left;
    color: white;
    margin: 0 0 14px;

    @media (max-width: $responsive-tablet) {
      font-size: 14px;
      line-height: 1.1;
    }
  }

  .footer__title--company {
    @media (max-width: $responsive-tablet) {
      margin-bottom: 0;
    }
  }

  .footer__link {
      font-size: 14px;
      line-height: 2.3;
      font-weight: 400;
      color: rgba(225,225,225, 0.8);

      &:hover {
        color: rgba(225,225,225, 0.5);
      }

      &:active {
        color: rgba(225,225,225, 0.9);
      }

      &.footer__link--no-hover {
        &:hover {
          color: rgba(225,225,225, 0.8);
        }
      }
  }

  .footer__link--right {
    text-align: right;
  }

  .footer__link--indent-right {
    margin-right: 48px;
  }

  .footer-wrapper-bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    border-top: 1px solid rgba(225,225,225,0.1);
  }

  .footer-wrapper-bottom--right {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-right: 24px;
  }

  .footer-wrapper-bottom--left {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 24px;
  }

  .footer-subscribe {

    @media (max-width: $responsive-tablet) {
      flex-grow: 2;
    }

    @media (max-width: $responsive-mobile) {
      width: 100%;
    }

    p {
      font-size: 14px;
      line-height: 2.3;
      font-weight: 400;
      margin: 0 0 8px;
      color: white;

      @media (max-width: $responsive-tablet) {
        display: none;
      }
    }
  }

  .footer-form__line {
    width: 100%;
    height: 40px;
    padding-left: 16px;
    background-color: rgba(225, 225, 225, 0.1);
    border: none;
    color: white;

    &:active {
      border: none;
    }

    &:focus {
      outline: none;
    }
  }

  .footer-form {
    position: relative;
  }

  .footer-form__arrow {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    width: 14px;
    height: 14px;
    fill: white;
    cursor: pointer;
  }

  .footer-social {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 40px;

    @media (max-width: $responsive-tablet) {
      flex-basis: 55%;
      margin-right: 48px;
      margin-bottom: 0;
    }

    @media (max-width: $responsive-mobile) {
      margin-right: 0;
      margin-top: 24px;
      margin-bottom: 24px;
    }
  }

  .footer__icon {
    width: 16px;
    height: 16px;
    fill: white;

    &:hover {
      fill: rgba(225, 225, 225, 0.5);
    }

    &.footer__icon--twitter {
      width: 16px;
      height: 13px;
    }

    &.footer__icon--facebook {
      width: 14px;
      height: 14px;
    }

    &.footer__icon--google {
      width: 22px;
      height: 13px;
    }

    &.footer__icon--medium {
      width: 16px;
      height: 12px;
    }

    &.footer__icon--drible {
      width: 14px;
      height: 14px;
    }
  }

  .footer-icons8-logo {
    margin-top: -8px;
    margin-bottom: 32px;

    @media (max-width: $responsive-tablet) {
      margin-top: 0;
      margin-bottom: 0;
      margin-right: 8px;
    }
  }

  .footer__logo {
    width: 48px;
    height: 48px;
    fill: white;

    &:hover {
      fill: rgba(225,225,225, 0.5);
    }

    @media (max-width: $responsive-tablet) {
      width: 40px;
      height: 40px;
    }
  }


  .footer--mobile-hidden {
    @media (max-width: $responsive-mobile) {
      display: none;
    }
  }

  .footer--mobile {
    display: none;

    @media (max-width: $responsive-mobile) {
      display: flex;
    }
  }

  .footer-column-2 {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
  }
}

.footer {
  background: $color-footer-bg;
  color: $color-white;
  font-size: 14px;
  button{
    color: $color-white;
  }
  .row {
    &:before, &:after {
      display: none;
    }
  }
  a {
    color: rgba($color-white, 0.5) ;
    font-size: 14px;
    line-height: 143%;
    &:hover {
      color: $color-white;
      opacity: 1;
    }
  }
  &__top {
    background: $color-footer-bg-2;
    padding: 29px 0 29px 40px;
    @media (min-width: $screen-md-min) {
       padding: 29px $grid-gutter-width/2;
    }
  }
  &__bottom {
    padding: 0 $grid-gutter-width/2 30px;
    @media (min-width: $screen-sm-min) {
      padding: 70px $grid-gutter-width/2 30px;
    }
    .row {
      max-width: 811px;
      display: flex;
      flex-wrap: wrap;
    }
    &__copywriting{
      opacity: 0.5;
      order: 1;
      @media (min-width: 650px) {
        order: 0;
        margin-right: auto;
      }      
    }
    a {
      margin-right: 27px;
      @media (min-width: 650px) {
        margin-left: 27px;
        margin-right: 0;
      } 
    }
  }
}

.footer__middle {
  padding: 60px $grid-gutter-width/2 49px;
  @media (min-width: $screen-sm-min) {
    padding: 60px $grid-gutter-width/2;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  .col-footer {
    width: 50%;
    &:nth-child(-n + 2){
      margin-bottom: 20px;
    }
    @media (min-width: $screen-sm-min) {
      width: 25%;
      margin-bottom: 0;
    }
  }
  &__col-header{
    font-weight: bold;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  a.mark:after{
    content: '';
    border-radius: 7px;
    padding: 2px 5px;
    font-weight: 500;
    font-size: 9px;
    line-height: 122%;
    color: $color-white;
    display: inline-block;
    margin-left: 6px;
  }
  a.mark--new:after {
    content: 'New';
    background: #28B351;
  }
  a.mark--upgrade:after {
    content: 'Upgrade';
    background: #28B351;
  }
  .social {
    margin: 0 -5px;
    a {
      padding: 5px;
      opacity: 0.8;
      margin: 0 15px 10px 0;
      &:last-child {
        margin: 0;
      }
      &:hover {
        opacity: 1;
      }
    }
    svg {
      fill: #fff;
    }
  }
}


.footer__hr {
  width: 100%;
  margin: 60px -15px;
  border-top: 1px solid #fff;
  opacity: 0.1;
}