
/* ----- Media queries breakpoints ----- */
// Mobile first
$breakpoint-xs-min: 480px !default;
$breakpoint-sm-min: 670px !default;
$breakpoint-md-min: 940px !default;
$breakpoint-lg-min: 1024px !default;

// Desktop first
$breakpoint-xs-max: ($breakpoint-xs-min - 1) !default;
$breakpoint-sm-max: ($breakpoint-sm-min - 1) !default;
$breakpoint-md-max: ($breakpoint-md-min - 1) !default;
$breakpoint-lg-max: ($breakpoint-lg-min - 1) !default;


$container-width: 1160px;

.footer {
  background: $color-footer-bg;
  padding: 0 30px;  
  @include font-size-footer;

  @media (max-width: $breakpoint-xs-max) {
    padding: 0 12px;
  }



  &__content {
    display: flex;
    margin: auto;
    max-width: $container-width;
    padding: 48px 0 40px;

    @media (max-width: $breakpoint-sm-max) {
     flex-direction: column
    }
  }

  &__community {    
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    width: 20%;

    @media (max-width: $breakpoint-md-max) {
      width: 30%;
     }

    @media (max-width: $breakpoint-sm-max) {
      width: 100%;
      margin-right: 0;
     }
  }

  &__logo {
    display: flex;
    align-items: center;    
    font-size: 13px;
    font-weight: 800;
    line-height: 22px;
    text-transform: uppercase;

    .icon {
      margin-right: 9px 
    }

    svg {
      display: block;
      height: 24px;
      width: 24px
    }
  }

  &__media {
    display: grid;
    grid-template-columns: repeat(5,30px);
    grid-gap: 8px;   
    margin-left: -7px;
    margin-top: 32px;

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 30px;      
      width: 30px;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding-left: 0;

    &:before {
      margin-bottom: 12px;
      content: attr(data-header);
      display: block;
      font-size: 13px;
      font-weight: 800;
      line-height: 22px;
    }

    li {     
      padding-left: 0;
      line-height: 22px;
      margin-bottom: 0;

      &:before {
        display: none;
      }

      &:not(:last-child) {
        margin-bottom: 12px;       
      }

      &.is-hidden {
        display: none;
      }
    }
  }

  .link {
    border-bottom: 1px solid rgba($color-black, .25);
    color: rgb(0, 0, 0);
    display: inline;
    font-size: 13px;
    letter-spacing: .01em;
    line-height: 22px;
    text-decoration: none;

    &.first {
      margin: 0 24px 6px 0;
      @media (max-width: $breakpoint-xs-max) {
        margin-bottom: 16px;
      }     
    }
  }

  .recaptcha-text {
    color: rgba($color-black, .4);
    margin-top: auto;
    max-width: 200px;

    &.hide-sm {
      @media (max-width: $breakpoint-sm-max) {
        display: none;
      }
    }

    &.hide-lg {
      @media (min-width: $breakpoint-sm-max) {
        display: none;
      }
    }

    a {
      border-bottom: 1px solid rgba(0,0,0,.25);
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: rgba(0, 0, 0, 0.25);
      color: inherit;
      display: inline;
      text-decoration: none;
    }
  }
  
  &__grid {
    grid-gap: 40px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 80%;

    @media (max-width: $breakpoint-md-max) {
      grid-template-columns: 1fr 1fr;
      width: 70%;
    }

    
    @media (max-width:$breakpoint-sm-max) {
      margin-bottom: 40px;
      margin-top: 40px;
      width: 100%;
    }
  }

  &__meta {
    border-top: 1px solid $color-main-border;
    margin: auto;
  }  
}

.footer-meta {
  margin: 0 auto;
  max-width: $container-width;
    
  &__advanced {
    align-items: center;
    display: flex;
    padding: 24px 0;
    gap: 16px;

    @media (max-width: $breakpoint-md-max) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__mark {
    white-space: nowrap;
  }

  &__grid {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px 24px;
    flex-grow: 1;
    width: 100%;
  }

  &__links {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    grid-column: span 2;

    @media (max-width: $breakpoint-xs-max) {
      margin-bottom: 16px;
    }

    @media (min-width: $breakpoint-lg-min) {
      display: block;
    }
  }

  &__cdn {
    white-space: nowrap;
    margin-left: auto;

    @media (max-width: $breakpoint-md-max) {
      margin-left: 0;
    }
  }
  
}
