---
---

@import "{{ site.theme }}";

.side-bar {
    width: 16%;
    float: left;
    display: none;
}

@media (max-width: 768px) 
{    
    #side-bar
    {
        width:100%;
        float:none;
        margin-top:0;
    }
}

#main_content{
    max-width: 768px;
}

article#article-content{
    width:69%;
}

body, p, h1, h2, h3 {
    font-family: -apple-system, system-ui, "San Francisco", HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", "Segoe UI", "Fira Sans", Roboto, Oxygen, Ubuntu, "Droid Sans", Arial, sans-serif;
}
