---
---

@import "{{ site.theme }}";

.side-bar {
    width: 20%;
    margin-right: 50px;
}

@media (max-width: 768px) 
{    
    #side-bar
    {
        width:100%;
        float:none;
        margin-top:0;
    }
}

#main_content{
    display: flex;
    max-width: 1056px;
}

article#article-content{
    width:69%;
}

#toc li{
 list-style: none;

}

body, p, h1, h2, h3 {
    font-family: -apple-system, system-ui, "San Francisco", HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", "Segoe UI", "Fira Sans", Roboto, Oxygen, Ubuntu, "Droid Sans", Arial, sans-serif;
}

h1, h2, h3 {
    margin: 50px auto 10px auto;
}

img {
    padding: 20px 0 20px 0;
}
