---
---

@import "{{ site.theme }}";

.side-bar {
    float: left;
    display: none;
}

@media (max-width: 500px) 
{    
    #side-bar
    {
        width:100%;
        float:none;
        margin-top:0;
    }
}